<%= form_for(autor) do |f| %>
  <% if autor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autor.errors.count, "error") %> prohibited this autor from being saved:</h2>

      <ul>
      <% autor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="col-lg-3 form-group">
                <%= f.label :proyect_id %>
                <%= f.collection_select(:proyect_id, Proyect.all, :id, :title, {prompt: true}, {:class=>'form-control input-sm'}) %>
            </div>
<div class="col-lg-6">
  <div class="input-group ">
  <span class="control-label col-md-3 col-sm-3 col-xs-12" ><%= f.label :nombre %></span>
  
  


  <%= f.text_field :nombre, class:"form-control" %>
 
</div>

<div class="input-group ">
  <span class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :apellido %>
    </span>
     <%= f.text_field :apellido, class:"form-control" %>
</div>

 <div class="actions ">
    <%= f.submit class:"btn btn-round btn-success fa fa-trash-o fa-lg" %>
  </div>
</div>

    
    
   
   
  
   


 
<% end %>
