


<div class="right_col" role="main">
              
<p id="notice"><%= notice %></p>


                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td><%= @autor.nombre %></td>
                          <td><%= @autor.apellido %></td>
                          <td><%= link_to 'EDITAR', edit_autor_path(@autor), class: "btn btn-round btn-primary fa fa-edit" %> |
                              <%= link_to 'ATRAS', autors_path, class: "btn btn-round btn-warning fa fa-trash-o fa-lg" %></td>
                        </tr>
                        
                       
                      </tbody>
                    </table>

                  
                  
                      </div>

