
<div class="right_col" role="main">
    <div class="">
<p id="notice"><%= notice %></p>



 <h3>
  <strong>Titulo:</strong></h3>
  
        <h4> <%= @proyect.title %></h4>

  <h3> <strong>Description:</strong></h3>
 <div class="clearfix"></div>
  <%= @proyect.description %>

<div class="clearfix"></div>
<p>
  
 
<div class="clearfix"></div>
<br>
<% unless @proyect.image.blank? %>   
                            <%=image_tag(@proyect.image.url, class:"img-responsive avatar-view", class:"", width:"200px", height:"200px") %>     
                          <%else%>
                           
                          <%end%>



</p>

<p>
 
  
                          <% unless @proyect.file.blank? %>
                          <span>
                          <%= link_to 'documento'.html_safe, @proyect.file_url, target: '_blank' , class: "btn btn-default btn-sm" %>
                          </span>
                          <%end%>


</p>

<%= link_to 'Edit', edit_proyect_path(@proyect), class: "btn btn-round btn-primary" %> |
<%= link_to 'atras', proyects_path, class: "btn btn-round btn-warning " %>

</div>
</div>
