<!DOCTYPE html>
<html>
   <head>
     
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>ProyectApp</title>
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
      <%= javascript_include_tag    'application', 'data-turbolinks-track' => true  %>
      <%= csrf_meta_tags %>
   </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="<%= proyects_path %>" class="site_title"><i class="fa fa-graduation-cap"></i> <span>ProyectApp</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
              
              </div>
              <div class="profile_info">
                
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="<%= proyects_path %>"><i class="fa fa-home"></i> Proyecto <span ></span></a>
                    
                  </li>
                  
                
                </ul>
              </div>
              <% if current_user.email == 'admin@gmail.com' %>
              <div class="menu_section">
              
                <ul class="nav side-menu">
               
                  <li><a href="<%= autors_path %>"><i class="fa fa-male"></i> Autores<span class="fa fa-chevron-down"></span></a>
                    
                  </li>
                  
                </ul>
              </div>
              <% end %>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        
        <p class="navbar-text pull-right">
            <% if user_signed_in? %>
            Bienvenido  <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
            <%= link_to "Registrar", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Iniciar Sesion", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
         </p>
         <%= yield %>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Eduardo Espinoza | Isidro López | Ariel Bobadilla 
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </body>
</html>
